[Unit]
Description=Apache Kafka by Confluent
Wants=basic.target
After=basic.target network-online.target
Documentation=https://docs.confluent.io/current/

[Service]
Type=simple
User={{ kafka.broker.user }}
ExecStart=/usr/bin/kafka-server-start {{ kafka.broker.config_file }}
KillMode       = process
RestartSec     = {{ kafka.broker.systemd.RestartSec}}
TimeoutStopSec = {{ kafka.broker.systemd.TimeoutStopSec}}
Type           = simple
LimitNOFILE    = {{ kafka.broker.systemd.LimitNOFILE}}

{% for key, value in kafka.broker.environment.items() %}
Environment="{{key}}={{value}}"
{% endfor %}

[Install]
WantedBy=multi-user.target
